/* =======================================================
===================== Base Styles ========================
======================================================= */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-body-bg;
}

/* =======================================================
===================== Form ========================
======================================================= */

.form {
  &-container {
    padding: 1.5rem 2rem;
    background-color: $white;
    border-radius: $border-radius-xl;
    box-shadow: $shadow-s;
  }

  &-group {
    --input-max-height: 3.125rem;
    margin-bottom: 1.5rem;

    & input, & .ts-control:not(:has(.item)) {
      max-height: var(--input-max-height);
      font-size: 1rem;
    }

    & *::placeholder {
      color: rgba($color-input-placeholder, .75);
    }

    & input:is([type='time'], [type='date']):not([value]), select:has(option[value='0'][selected='selected']) {
      color: rgba($color-input-placeholder, .75);
    }

    & .ts {
      &-control {
        padding: 1rem;
        border: 1px solid rgba($color-text, .75);
        border-radius: 0.375rem;
        position: relative;
        cursor: pointer;

        & > * {
          cursor: pointer;
        }

        &::after {
          content: '▼';
          font-weight: 900;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%) scaleX(1.5);
          color: rgba($color-text, .75);
        }

        &:has(.item) {
          padding: .75rem 1.25rem .75rem .5rem !important;

          & *::placeholder {
            color: transparent;
          }
        }

        & > .item[data-value] {
          background-image: linear-gradient(to bottom, $tertiary, $primary);
          border-color: $tertiary;
          font-size: .9rem;

          & > a.remove {
            border-left: 1px solid $white;
          }
        }
      }

      &-dropdown-content {
        background-color: $white;
      }
    }
  }

  &-collection {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    padding-bottom: 0;
    background-color: rgba($secondary, .035);
    border-radius: $border-radius-lg;

    &:not(:has(*)) {
      display: none;
    }


    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }


    & > :has(.form-button--delete-collection) {
      text-align: right;
    }

    &--language {
      flex-direction: row;
      align-items: center;
      gap: .5rem;
      flex-wrap: wrap;

      & > :has(.form-collection-entry) {
        flex: 1;
        min-width: 80%;
      }

    }

    &-entry {
      & .ts-control {
        max-height: unset !important;
        padding-top: 1.5rem;

        &:has(.item) {
          padding-top: 2rem !important;
        }
      }

      &--language {
        display: flex;
        align-items: center;
        gap: .5rem;
        width: 100%;

        & > .form-group {
          flex: 1;
          margin-bottom: 0;

          &:not(:first-child) {
            max-width: 30%;
          }

          & .form-select {
            padding-top: 1.625rem;
            padding-bottom: 0.625rem;
          }
        }
      }
    }
  }

  &-label {
    font-size: $font-size-form-label;
    font-weight: $font-weight-semibold;
  }

  &-control, &-select:not(:has(.ts-control)) {
    padding: .75rem 1rem;
    border: 1px solid rgba($color-text, .75);
  }

  &-select {
    &:has(.ts-control) {
      padding: 0;
      height: auto;
      box-shadow: none;
      display: flex;
    }

    & > option[value=''] {
      display: none;
    }
  }

  &-button {
    &--add-collection {
      @extend .btn-outline-secondary;
      width: 100%;
      border-style: dashed;
      font-weight: $font-weight-semibold;
    }

    &--delete-collection {
      @extend .btn-danger, .btn-sm;
      font-weight: $font-weight-semibold;
      margin-left: auto;
    }
  }
}

.col-form-label {
  font-weight: $font-weight-semibold;
  font-size: $font-size-form-label;
}

.form-group.form-floating {
  & > textarea {
    min-height: 80px;
  }
}

/* =======================================================
===================== Template Switch ====================
======================================================= */
.template-switch {
  padding: 0;

  & > .form-check-label {
    cursor: pointer;
    padding: .25rem 1rem;
    border-radius: 9999px;
    transition: all .1s linear;
  }

  & > .form-check-input:checked + .form-check-label {
    color: $white;
    background-color: $primary;
  }

}