/* ================================================
 ================== VARIABLES ====================
 ================================================= */

// === Colors ===
$primary: #004d66;
$tertiary: #367c78;
$red: #a6192e;
$black: #3d3d3d;
$white: #fff;

$color-text: #333;
$color-body-bg: #f9f9fa;
$color-input-placeholder: #595959;

// === Sizing ===
$font-size-form-label: .85em;

// === Shadows ===
$shadow-s: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
$shadow-m: 12px 14px 24px 2px rgba(0, 0, 0, 0.05);